/* line 14, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #0E1F2D;
}

/* line 20, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
h2 {
  font-size: 240%;
  text-align: center;
}
/* line 23, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
h2:after {
  display: block;
  height: 3px;
  background-color: #935B6A;
  content: " ";
  width: 100px;
  margin: 15px auto;
}

/* line 35, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
header {
  padding: 40px 0;
}
/* line 37, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
header h1 {
  color: #935B6A;
  font-size: 360%;
  text-align: center;
  margin: 0;
  text-shadow: 0px 4px 3px rgba(5, 17, 28, 0.2), 0px 8px 13px rgba(5, 17, 28, 0.2), 0px 18px 23px rgba(5, 17, 28, 0.2);
}

/* line 50, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
nav {
  width: 100%;
  padding: 10px;
  background: #935B6A;
  overflow: hidden;
}
/* line 56, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
nav ul {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
/* line 63, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
nav ul li {
  display: inline-block;
  padding: 5px 0;
}
/* line 67, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
nav ul li a {
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 74, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
nav ul li a:hover {
  border-radius: 200px;
  transition: background 0.5s;
  background: #D9B4BE;
}

/* line 86, /Users/Ruth/Desktop/ruthblog/app/assets/stylesheets/simple_pages.scss */
footer {
  width: 100%;
  font-size: 80%;
  text-align: center;
  padding: 10px;
  background: #935B6A;
  overflow: hidden;
  color: #fff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

