// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// REUSABLE COMPONENTS
$font-main: 'Playfair Display', serif;
$blue-grey: #0E1F2D;
$blue-grey-shadow: rgba(5, 17, 28, 0.2);
$pink: #935B6A;
$light-pink: #D9B4BE;
$white: #fff;

// INDEX PAGE
#blog_table {
  padding:10px;
  text-align: center;
  p {
  font-family: $font-main;
  }
}

#blog_title h2 {

}

#blog_category {
  text-transform: uppercase;
}

#blog_table_inner {
  height: 500px;
  border: 2px solid $pink;
  padding: 20px;
  h2 {
    margin-bottom: 30px;
  }
  #blog_description {
    height: 75px;
  }
  .img-responsive {
    margin: 10px auto;
    overflow: hidden;
    transition: transform 0.5s, opacity 0.5s;
    &:hover {
      transform: scale(1.15);
    }
  }
}

// SHOW PAGE

.img-lg {
  display: flex;
  margin: 30px auto;
  transform: scale(1.15);
}

p {
  text-align: center;
}

#blog_table_inner a {
  &:hover,:active {
    border-radius: 5px;
    transition: background 0.5s;
    background-color: $light-pink;
    text-decoration: none;
  }
  &:visited {
    color: $blue-grey;
  }
}
